@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p> Привет! Пожалуйста, не открывайте эту страницу два раза! Я всё объясню. </p>

    <div>
        @Html.ActionLink("Показать точки проката", "List", "RentPoint");
    </div>

    <div>
        @Html.ActionLink("Показать все велики", "List", "Bike");
    </div>

}
